button.gif-search {
    margin: 20px;
}
#gif-buttons {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    text-align: center;
}
img.gif-result {
    width: 100%;
}
#gif-lightbox-wrapper {
    display: none;
    position: fixed;
    top: 20%;
    width: 100%;
}
#gif-lb-img-container {
    text-align: center;
    width: 60%;
    margin: 0 auto;
}
#gif-lightbox-wrapper #gif-lb-img-container img {
    width: 100%;
}
.close-lightbox {
    text-align: right;
}
.close-lightbox:hover {
    cursor: pointer;
}